
.icon-cog:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-ok-1:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e825'; } /* '' */
.icon-down-open-big:before { content: '\e826'; } /* '' */