
.icon-cog:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e825'; } /* '' */
.icon-down-open-big:before { content: '\e826'; } /* '' */
.icon-search:before { content: '\e866'; } /* '' */
.icon-tag:before { content: '\e920'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */