body {
    font-family: $font-family;
}

.top-bar, .top-bar ul {
    background-color: $blue;
    color: $white;

    h1 {
        font-size: 1.7rem;
        margin: 0;
        font-weight: bold;
        text-transform: lowercase;
    }

    a {
        color: $white !important;
    }
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    header {
        position: static;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}