body {
    font-family: $font-family;
}

.top-bar, .top-bar ul {
    background-color: $blue;
    color: $white;

    h1 {
        font-size: 1.7rem;
        margin: 0;
        font-weight: bold;
        text-transform: lowercase;
    }

    a {
        color: $white !important;
    }
}