body {
    font-family: $font-family;
}

.menu>li>a {
    padding: 0;
}

.top-bar, .top-bar ul {
    background-color: $blue;
    color: $white;

    h1 {
        font-size: 1.7rem;
        margin: 0;
        font-weight: bold;
        text-transform: lowercase;
    }

    a {
        color: $white !important;
    }
}

.top-bar-right {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    header {
        position: static;
    }

    .top-bar-right {
        display: block;
        width: 40% !important;

        li {
            display: block;
            text-align: right;
            padding: 22px 20px;
        }
    }

    .top-bar-left {
        width: 60% !important;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}