.source-category {
    text-transform: capitalize;
}

.article-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.load-more {
    margin-top: 20px;
}

.card {
	color: white;
    position: relative;
    margin: 0;
    border: none;
	
	.card-section.onhover {
		display: none;
	}

    .card-section {
    	position: absolute;
    	bottom: 0;

    	.source {
    		text-decoration: underline;
    	}

    	.article-btn {
    		background-color: $pink-lt;
            
            &:hover {
                background-color: $pink;
            }
    	}
    }
	
	&:before {
    	content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 0;
	    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 76%)
    }

    &:hover {
		cursor: pointer;

		&:before {
			background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 0%);
		}

    	.card-section.onhover {
    		display: block;
    		position: absolute;
    		top: 0;
    		width: 100%;
    	}

    	.card-section.onhover > * {
    		margin: 10px;
    	}

    	.card-section.offhover {
    		display: none;
    	}
    }
}

.tweet-block {
    animation-duration: 600ms;
}

.newsfeed > * {
    transition: width 0.5s linear;
}
