.feeds {
    padding-top: 120px;
}

.source-category {
    text-transform: capitalize;
}

.article-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.load-more {
    margin-top: 20px;
}

.scroll-top {
    margin-top: 20px;
    margin-left: 20px;
}

.card {
	color: white;
    position: relative;
    margin: 0;
    border: none;

    .card-section > * {
        margin: 10px;
    }

    .card-section.offhover {
        opacity: 1;
        animation-name: stepFadeIn;
        animation-duration: 0.4s;
        animation-timing-function: ease-in;
    }
	
	.card-section.onhover {
		opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        animation-name: stepFadeOut;
        animation-duration: 0.4s;
	}

    .card-section {
    	position: absolute;
    	bottom: 0;

    	.source {
    		text-decoration: underline;
    	}

    	.article-btn {
    		background-color: $pink-lt;
            
            &:hover {
                background-color: $pink;
            }
    	}
    }
	
	&:before {
    	content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 0;
	    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 76%)
    }

    &:hover {
		cursor: pointer;

		&:before {
			background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 0%);
		}

    	.card-section.onhover {
            opacity: 1;
            animation-name: stepFadeIn;
            animation-duration: 0.4s;
    	}

    	.card-section.onhover > * {
    		
    	}

    	.card-section.offhover {
            opacity: 0;
            animation-name: stepFadeOut;
            animation-duration: 0.4s;
            animation-timing-function: ease-out;
        }
    }
}

.tweet-block {
    animation-duration: 800ms;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .feeds {
      padding-top: 0;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .newsfeed {
        margin-top: 25px;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

