&::-webkit-scrollbar {
  background-color: transparent;
  width: 18px;
}

&::-webkit-scrollbar-thumb {
    transition: background-color 0.5s linear;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
}

&:hover {
  &::-webkit-scrollbar-thumb {
      background-color: rgba(255,255,255,0.2);
  }
}