.section-filter {
    background-color: $pink-lt;
    color: $white;
    position: relative;
    overflow: hidden;
    max-height: 44px;
    transition: max-height 0.6s ease-out;

    label {
        color: $white;
    }
}

.menu-open {
    .section-filter {
        transition: max-height 0.6s ease-in;
    }
}

span.icon-down-open-big, span.icon-up-open-big,  {
    float: right;

    &:hover {
        cursor: pointer;
        color: $pink-dk;
    }
}

.options-menu {
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.options-wrap {
    padding-left: 10px;
    position: relative;

    span a {
        color: $white;
    }
}

.save {
    background-color: $pink-md;
    padding: 5px;
    text-align: center;
    position: relative;
    z-index: 10;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.categories,
.languages,
.news-sources {
	background-color: $pink-dk;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.category,
.language {
    text-transform: capitalize;
}

.news-sources {
    overflow: auto;

    @import "./scrollbar";
}

label>[type=checkbox] {
	float: right;
}


.filter_menu-enter {
    transition: all .25s;
    display: block;
    &.filter_menu-active {
        transform: translateY(0); // put it in normal resting spot
    }
}

.filter_menu-leave {
    transition: all .25s;
    display: none;
    &.filter_menu-active {
        transform: translateY(-100%);
    }
}

.search, 
.search:focus {
    border-radius: 30px;
    border: none;
    background-color: $pink-md;
    box-shadow: none;
    color: rgba(255,255,255,0.8);
}

.search {
    padding-left: 30px;
}

.search-hashtag {
    opacity: 0.50;
}
.search-wrap {
    position: relative;
    display: block;
    opacity: 0.50;

    .icon-hashtag {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
    }
    .icon-search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
    } 
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .section-filter {
        margin-bottom: 0;
    }

    .menu-open {
        .section-filter {
            max-height: 1000px;
        }  
    }

    .options-wrap {
        display: none;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .menu-open { 
        .section-filter {
            max-height: 1000px;
        }
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .menu-open { 
        .section-filter {
            max-height: 500px;
        }
    }


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
