.twitter-wrap {
  overflow: auto;
  height: 100%;

  @import "./scrollbar";
}

.sign-in-message {
  position: fixed;
  max-width: 370px;
}

h2 {
    color: $blue;
    text-align: center;
    padding: 30px;

    span {
      font-weight: bold;
    }
}

textarea {
  resize: none;
}

.pad-10 {
  padding: 10px;
}

.icon-user span {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.twitterfeed {
  transition: padding-top 0.6s ease-out;
  transition-delay: 0.05s;
}

.menu-open {
  .twitterfeed {
    transition: padding-top 0.5s ease-in;
    transition-delay: 0;
  }
}

.twitter-container {
  background-color: $blue-dk;
  color: $white;
  position: fixed;
  height: calc(100% - 120px);

  a {
    color: rgba(255,255,255,0.6);
    transition: color .25s ease-out;

    &:hover {
      color: $white;
    }
  }

  .media-object {
    margin-bottom: 25px;
    margin-left: 10px;
  }
}

.tweet-block {

	p {
		margin: 0;
	}
}

.btn-tweet {
    margin-left: 10px;
}

.tweet-modal-wrap {
  .fadeIn {
    animation-delay: 0.1s;
    animation-duration: 0.3s;
  }

  .fadeOut {
    animation-duration: 0.3s;
  }
}

.tweet-modal {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  &:before {
    position: fixed;
    width: 120vw;
    height: 120vh;
    content: '';
    background-color: rgba(0,0,0,0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .callout {
    padding: 60px 20px 60px 20px;
    margin: 0;
    background-color: #a23850;
    color: $white;
  }

  .close-button{
    color: $white;
  }

  label {
    color: $white;
  }
}

.tweet-media {
  width: 100%;
  margin-top: 20px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .twitter-container,
  .twitter-options {
    display: none;
  }

  .tweet-modal {
    width: 100vw;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .twitter-container {
    &:before {
      content: '';
      position: fixed;
      background-color: $blue-dk;
      height: 100vh;
      width: 100%;
      z-index: -1;
      top: 0;
    }
  }

  .twitter-options {
    &:before {
      content: '';
      position: absolute;
      background-color: $pink-dk;
      height: 100%;
      width: 100%;
    }
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .twitter-wrap {
    max-width: 370px;
  }

  .twitter-container {
    .media-object {;
      margin-left: 0px;
    }
  }

  .thumbnail img {
    width: 30px;
    height: 30px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .twitter-wrap {
    max-width: 370px;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
