h2 {
    color: $blue;
    text-align: center;

    span {
      font-weight: bold;
    }
}

.twitter-options {
  background-color: $pink-dk;
}

.twitter-container {
  background-color: $blue-dk;
  color: $white;

  a {
    color: $white;
  }

  .media-object {
    margin-bottom: 25px;
    margin-left: 10px;
  }
}

.tweet-block {

	p {
		margin: 0;
	}
}

.tweet-modal {
    position: fixed;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn-tweet {
    margin-left: 10px;
}

.overlay:before {
  content: '';
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $black;
  opacity: 0.8;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .twitter-container {
    .media-object {
      margin-left: 0;
    }
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .twitter-container {
    &:before {
      content: '';
      position: fixed;
      background-color: $blue-dk;
      height: 100vh;
      width: 100%;
      z-index: -1;
      top: 0;
    }
  }

  .twitter-options {
    &:before {
      content: '';
      position: absolute;
      background-color: $pink-md;
      height: 34px;
      width: 100%;
    }
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
