.twitter-container {
  background-color: $blue-dk;
  color: $white;
  position: absolute;
  padding: 45px;
  height: 100%;

  a {
    color: $white;
  }

  .media-object {
    margin: 24px 0 24px 0;
    width: 75%;
  }
}

.tweet-block {

	p {
		margin: 0;
	}
}

.tweet-modal {
    position: fixed;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-tweet {
    margin-left: 10px;
}
