.thumbnail-container {
    position: relative;
}

.source-thumbnail {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 5px;
    bottom: 5px;

    img {
        width: 100%;
        object-fit: contain
    }
}